streamlit
pypdf
matplotlib
seaborn
openai
spacy
python-dotenv
langchain_community
scikit-learn
spacy-streamlit
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz